/* .valiseGlobal {
background-color: rgba(121, 117, 115, 0.5);
border-radius: 1.5rem;
margin-left: 10%;
margin-right: 10%;

} */

/* .valiseTitle {
    text-align: center;  
} */

.categorie {
    margin-left: 1rem;
}

